<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:task="http://www.springframework.org/schema/task"
 xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
  
 <context:annotation-config />
 <context:spring-configured />
 
 <task:annotation-driven />
	<bean id="ScheduledComment" class="com.tripfilms.camel.server.start.ScheduledComment"></bean>  
	<bean id="com.tripfilms.camel.server.bo.INotificationBO" class="com.tripfilms.camel.server.bo.NotificationBO"  />
	<!-- <bean id="com.google.gson.GsonBuilder" class="com.google.gson.GsonBuilder">
		<property name="dateFormat" value="yyyy-MM-dd'T'HH:mm:ssz"/>
	</bean>
	<bean id="com.google.gson.Gson" class="com.google.gson.Gson" factory-bean="com.google.gson.GsonBuilder" factory-method="create"/> -->
	<bean id="com.tripfilms.camel.server.bo.IParserBO" class="com.tripfilms.camel.server.bo.ParserBO" />
	<bean id="com.tripfilms.camel.server.bo.ICommentBO" class="com.tripfilms.camel.server.bo.CommentBO"/> 
	<bean id ="com.tripfilms.camel.server.dao.IVideoDAO" class="com.tripfilms.camel.server.dao.VideoDAO"/>
<!--   	<bean id="commentsService" class="com.tripfilms.camel.server.bo.CommentsBO"/> 
 --> <import resource="classpath*:camel-server.xml" />
</beans>